@import "./mixins";

.navbar-container {
  padding: 30px;
  padding-bottom: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  .navbar {
    color: $white;
    border-bottom: 1px solid $white2;
    @include flex($j-c: space-between);
    align-items: stretch;
    &_left {
      padding-right: 20px;
      border-right: 1px solid $white2;
      img {
        width: 269px;
      }
    }
    &_right {
      @include flex();
      align-items: stretch;
      div {
        @include flex($g: 20px);
        padding: 10px 20px;
        color: $white;
        border-left: 1px solid $white2;
      }
    }
  }
}
.header {
  position: relative;
  height: 100vh;
  background-image: url(../images/main-bg.png);
  background-position: center;
  background-size: cover;
  @include flex($j-c: start, $a-i: end);
  padding: 60px;

  &_top_shadow,
  &_bottom_shadow {
    z-index: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(#0008, transparent);
    position: absolute;
    top: 0;
    left: 0;
  }
  &_bottom_shadow {
    z-index: 0;
    top: unset;
    background: linear-gradient(transparent, #0008);
    bottom: 0;
  }
  &_download_btn {
    cursor: pointer;
    z-index: 1;
    text-transform: uppercase;
    border: none;
    background-color: $black;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    @include flex($g: 20px);
    padding: 12px 30px;
    @include btnGradient;
  }
  &_btn {
    cursor: pointer;
    z-index: 1;
    padding: 3px;
    color: $white;
    font-size: 14px;
    background-color: $black;
    @include flex();
    @include btnGradient;

    div {
      background: $white;
      color: $black;
    }
    p {
      padding: 0 10px;
    }
  }
  &_apartments {
    border: none;
    position: absolute;
    top: 20vh;
    left: 50%;
  }
}

.form {
  background-color: $black;
  color: $white;
  border: none;
  @include flex;
  &_left {
    width: 50%;
    background-image: url("../images/form-bg.png");
    background-position: center;
    background-size: cover;
    padding: 60px 50px;
    @include flex($f-d: column, $g: 30px);
    text-align: center;
    i {
      font-family: "Times New Roman", Times, serif;
      font-size: 45px;
    }
    p {
      font-size: 16px;
      line-height: 150%;
    }
    &_links {
      @include flex($g: 20px);
    }
    &_links div {
      @include flex($g: 5px);
      cursor: pointer;
    }
  }
  &_right {
    width: 50%;
    padding: 30px;
    @include flex($f-d: column, $g: 35px);
    &_xMark {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 101%;
      background-color: transparent;
      border: none;
    }
    input {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #919191;
      padding: 15px 20px;
      font-size: 18px;
      color: $white;
      outline: none;
      transition: all 0.3s linear;
      &::placeholder {
        color: $white;
      }
      &:focus {
        border-bottom: 1px solid #fff;
      }
    }
    &_confirm {
      width: 100%;
      padding: 15px;
      font-size: 18px;
      background: #fff;
      border: none;
      border: 1px solid #fff;
      cursor: pointer;
      transition: 0.3s linear;
      &:hover {
        background: #000;
        border: 1px solid #fff;
        color: $white;
      }
    }
  }
}
.psv {
}
#form,
#psv {
  overflow: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
  border: none;
  @include animation;
}
#form {
  width: 70%;
}
#form::backdrop,
#psv::backdrop {
  background: hsla(0, 0%, 0%, 0.801);
  transition: all 0.3s linear;
  backdrop-filter: blur(20px);
  @include animation;
}
.sphereModal {
  width: max-content;
  position: relative;
  &_viewer {
    width: 85vw;
    height: 77vh;
    background-color: red;
  }
  &_top {
    position: absolute;
    right: 0;
    bottom: 102%;
    z-index: 1;
    color: white;
    @include flex($g: 10px);
    font-size: 16px;
    div {
      width: 20px;
      height: 20px;
      @include flex;
      padding: 10px;
      border: 1px solid #fff;
    }
    p {
      margin-right: 10px;
    }
    button {
      cursor: pointer;
      border: none;
      background: transparent;
      @include flex;
      img {
        width: 20px;
      }
    }
  }
  &_gallery {
    @include flex($g: 10px);
    background-color: $black;
    padding: 4px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);

    img {
      width: 80px;
      cursor: pointer;
      transition: all 0.1s linear;
      &:hover {
        transform: scale(1.3);
      }
    }
    &_active {
      transform: scale(1.1);
    }
  }
}
.psv-move-button,
.psv-download-button {
  display: none;
}
.psv-navbar {
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.32) 100%);
}
